# Web Framework
fastapi
uvicorn
app

# Scheduler
apscheduler

# Database
sqlalchemy
aiomysql
motor

# HTTP
httpx
requests
aiohttp

# Elasticsearch
elasticsearch

# Scraping
playwright
lxml

# Data
pandas

# Search / Matching
duckduckgo-search
thefuzz
deep-translator

# Utils
python-dotenv